<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @fighter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fighter.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fighter.description %>
</p>

<div class="skills">
  <h3>Skills</h3>
  <% unless @fighter.fighter_skills.empty? %>
    <% @fighter.fighter_skills.each do |s| %>
      <p><%= s.name %>: <%= s.level %></p>
    <% end %>
  <% end %>
  <h4>Add skill</h4>
  <%= form_for([@fighter, @fighter.fighter_skills.build]) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.select :skill_id, options_from_collection_for_select(Skill.all, :id, :name) %>
    </p>

    <p>
      <%= f.label :level %> (0 - 5)
      <%= f.number_field :level, class: 'form-control' %>
    </p>

    <p>
      <%= f.submit "Add skill", class: "btn btn" %>
    </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
